<a href="https://colab.research.google.com/github/yousef333mohamed/app/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1**

In [1]:
num1=3
num2=4
num3=5

In [6]:
print(num1+num2)
print(num3-num1)
print(num1*num2+num3)
print(num1*(num2+num3))
print(num3/num1)
print(num3//num1)
print(num3%num1)

7
2
17
27
1.6666666666666667
1
2

In [7]:
num1=float(3)
num2=float(4)
num3=float(5)

In [8]:
print(num1+num2)
print(num3-num1)
print(num1*num2+num3)
print(num1*(num2+num3))
print(num3/num1)
print(num3//num1)
print(num3%num1)

7.0
2.0
17.0
27.0
1.6666666666666667
1.0
2.0

**2**

In [9]:
x=1
y=2
z=3
g=4

In [11]:
print(x+y*z/g)
print(y**z)

2.5
8

**3**

In [12]:
str_a="python "
str_b=" is a "
str_c=" times fun language "
num=1000

In [14]:
str_ab=str_a+str_b+str_c+str(num)
print(str_ab)

python  is a  times fun language 1000

In [16]:
str_a10=str_a*10
str_a10

'python python python python python python python python python python '

**4**

In [17]:
import math
num_1=-5
num_2=3.2
num_3=5.7
num_4=625

In [18]:
print(abs(num_1))
print(round(num_2),round(num_3))
print(math.sqrt(num_4))

5
3 6
25.0

**5**

In [20]:
a=float(input("enter your number = "))
b=float(input("enter your number = "))
result=a*b
print(result)

enter your number = 4
enter your number = 6
24.0

**Questions** **on** **control** **flow**

**1**

In [21]:
number =int (input("enter the number = "))
if number%2==0:
  print("number='even'")

else:

  print("number is odd")

enter the number = 3
number is odd

**2**

In [22]:
score = int(input("enter your score = '0-100' :"))
if score >=50:
  print("pass")
else:
  print("fail")

enter your score = '0-100' :30
fail

**3**

In [24]:
number1=int(input("enter your number = "))
number2=int(input("enter your number = "))
number3=int(input("enter your number = "))
if number1>number2 and number3<number1:
  print("number1 is greater")
elif number2>number1 and number2>number3:
  print("number2 is greater")
elif number3>number1 and number3>number2:
  print("number3 is greater")
else:
  print("sorry")

enter your number = 2
enter your number = 4
enter your number = 6
number3 is greater

In [27]:
for i in range (1,11):
  print (i)

1
2
3
4
5
6
7
8
9
10

In [30]:
scoree=float(input("enter your score = "))
if scoree>=90 and scoree<=100:
  print("your grade is A ")
elif scoree>=80 and scoree<=89:
  print("your grade is B")
elif scoree >=70 and scoree<79:
  print("your grade is C")
elif scoree>=60 and scoree<69:
  print("your grade is D")
elif scoree<50:
  print("your grade is F")
else:
  print("sorry")

enter your score = 23
your grade is F

In [31]:
num5= int(input("enter your number = "))
for i in range (1,11):
  print(num5,"*",i,"=",num5*i)

enter your number = 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [32]:
total = 0
for num in range (1,51):
  if num%2==0:
    total +=num
print(total)

650

In [33]:
num6 = int(input("Enter a number: "))
factorial = 1
i = 1

while i <= num6:
    factorial *= i
    i += 1

print(f"The factorial of {num6} is: {factorial}")

Enter a number: 5
The factorial of 5 is: 120